{% extends "layout.html" %}

{% block title %}
Development
{% endblock %}

{% block head_includes %}
<title>Personal Site Development - Elijah Donaldson</title>
<meta name="description" content="A reflection on the difficulties freelancers face through their career." />
<meta name="keywords" content="freelance, upwork, clients" />
{% endblock %}

{% block main %}

<section class="max-width-standard row-middle">
    <div class="col-50">
        <h1 class="header-text">Freelance Advice: Bad News First</h1>
        <h2 class="subhead-text" id="first-client">A Brief Background:</h2>
        <p class="body-text">I have been primarily taking freelance contracts for around half a decade on sites like <a href="https://www.upwork.com/freelancers/~0178a5f7f46c2367f5">Upwork</a> and through recommendations. During this time I have taken contracts that totaled over a hundred thousand USD, received dozens of reviews, and been considered top rated.</p>
        <p class="body-text">For some time now I have been giving advice on sites like Reddit to people seeking to enter into freelancing, specifically in the fields of programming and digital marketing, but this applies much more widely. I've found myself repeating a few very important points and I'd like to compile them as a resource for people looking to enter the market.</p>
        <p class="body-text">While I'd love to brag about my career, even for someone that has "made it", the world of freelancing can be difficult. By no means am I trying to dissuade anyone from following their dreams but I am going to be frank about hardships and risk I've faced to hopefully help others.</p>
        <h2 class="subhead-text" id="first-client">Table of Contents:</h2>
        <ol class="body-text">
            <li><a href="#first-client" class="link-style">The First Client is the Hardest</a></li>
            <li><a href="#client-failure" class="link-style">Your First Client Can End Your Career</a></li>
            <li><a href="#evaluating-clients" class="link-style">Evaluating Clients is Critical</a></li>
            <li><a href="#firing-clients" class="link-style">Firing Clients</a></li>
            <li><a href="#insuring-your-well-being" class="link-style">Insuring Your Well Being</a></li>
        </ol>
        <h2 class="subhead-text" id="first-client">The First Client is the Hardest</h2>
        <p class="body-text">Make no mistake, the number of freelancers is massive and varied, you will face stiff competition. From those working in low cost of living countries that can underbid most people in high cost of living countries for clients looking to squeeze every penny out of the budget, to industry professionals looking to make money on the side. Your review less profile is a hard sell.</p>
        <p class="body-text">You will need to cultivate excellent social skills, an amazing portfolio, and even then you will need luck.</p>
        <p class="body-text">Having handled interviews and hiring for clients, I know exactly what I was up against then. To be brutally honest I am not sure I'd have had the resolve to continue on if I'd known at the time how stiff my competition was.</p>
        <p class="body-text">Sometimes you will lose because someone was better, cheaper, more renowned, and maybe all of those things. Sometimes you will win because you were first and that better potential person came a day after the client lost interest in further interviews.</p>
        <p class="body-text">In retrospect I was incredibly lucky. I landed my first client in less than six months, and got an amazing review from them. Then it happened a second time in the next six months. At that point Upwork decided I was "Up and Coming", gave me a badge, then flooded me with potential clients.</p>
        <p class="body-text">I've never been able to repeat this level of success, either personally on another platform or when guiding my wife on her freelance journey. While it wasn't all luck, as I've been told I come off as trustworthy, dedicated, and professional which certainly helped I can't help wonder if I could ever do it again.</p>
        <h2 class="subhead-text" id="client-failure">Your First Client Can End Your Career</h2>
        <p class="body-text">Just as much as the first good review can setup a career, one bad review can smoother it and you may have less to do with this than you'd like to believe. In my time working I've had completely unreasonable clients, overly critical clients, clients that want to renegotiate consistently, and clients that were actively trying to scam me.</p>
        <p class="body-text">You have shockingly little control over a client that gives you three out of five stars because they think you did average while another client may see it as negative. In the worst cases I witnessed: Another freelancer was given a bad review and extorted for free work in exchange for it's removal. A client attempted to claim I charged them twice despite going through a third party platform that handled everything.</p>
        <p class="body-text">This isn't to say this is the average experience but it does lead well to the next point.</p>
        <h2 class="subhead-text" id="evaluating-clients">Evaluating Clients is Critical</h2>
        <p class="body-text">With experience you will quickly learn to see patterns, word usage, and body language. Being good at this from the start is a huge boost to your career. I personally have a list of words and behaviors that instantly create red flags: "Superstar" or "Rockstar", "Like a Family", "I've had bad experiences in the past with X" are among the most common.</p>
        <p class="body-text">To translate: We expect you to work well beyond what should be considered normal, We expect to make unreasonable request and get our way, the client has been in negative situations with X in the past and is the common denominator.</p>
        <p class="body-text">This is before we even get to the unethical and illegal things you may be asked to do. This ranges from as minor as leaving fake reviews in exchange for your first review and only gets worse from there. While ethics is debatable and you may find yours are different than others, it is important to remember: Ignorance, following orders, and gullibility are not legal defenses for your actions if it comes to that point.</p>
        <p class="body-text">Never trust a client to know what is or isn't legal, and if you even suspect something, disengage or seek legal advice from a professional source. Speaking of disengaging.</p>
        <h2 class="subhead-text" id="firing-clients">Firing Clients</h2>
        <p class="body-text">Maybe the client was asking for something you weren't comfortable for, maybe they are abusive, or maybe they just aren't worth your time. It is time to end it, you are rarely going to come away well from this. I have been insulted, emotionally drained, and left wanting to drop my career a dozen times.</p>
        <p class="body-text">Unfortunately the best cure is prevention, avoiding the bad situation before you get to it. The second best is to be in a strong position mentally, financially, and reputationally that you can whether whatever a client may attempt to do.</p>
        <p class="body-text">I wish I could give more advice here but every situation is different and instead I feel we should move on to one of the most important parts of this career: Being Prepared.</p>
        <h2 class="subhead-text" id="insuring-your-well-being">Insuring Your Well Being</h2>
        <p class="body-text">You have three resources you must horde: Mental well being, physical well being, and financial well being. Depending on what country you are in, you may have very little of a safety net. In my country I don't qualify for unemployment assistance, if I don't have a contract, I can lose everything.</p>
        <p class="body-text">You will need to rely on yourself to maintain all of the above. You may see advice articles claiming emergency savings should be three to six moneys of expenses but are you disciplined enough to maintain that reserve? How about taxes, these may be very different than the norm for your country? Finially, what about yourself?</p>
        <p class="body-text">In someways I think of freelancing as a young persons game, when you can take a potential shortcut to high earnings and one day cash out with experience and a pile of money. I have a wife and dogs, I'm not as young as I used to be. When I can't get a new client fast enough or make to little in a month, I worry.</p>
        <p class="body-text">As a self critical perfectionist, I am my own biggest enemy. As a person that isn't inclined towards exercise, I am my own biggest enemy. I have very little doubt that my chosen career path has taken years from my lifespan.</p>
        <p class="body-text">I don't think anyone can accurately judge how well they handle situations until they experience them but if you aren't the kind that is naturally able to manage their well being and willing to take risk, this is can be a hard life.</p>
    </div>
</section>

{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}