{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block head_includes %}
<link rel="stylesheet" href="/static/css/form.css">
<title>Testimonials - Elijah Donaldson</title>
<meta name="description" content="Real client reviews verified by a third party." />
<meta name="keywords" content="programming, python, website, wordpress, css, javascript, php" />
{% endblock %}

{% block main %}

<section class="max-width-standard row-middle col">
    <div class="row-middle col gap-10">
        <h1 class="header-text">Testimonials</h1>
        <p class="subhead-text">Client reviews sourced from: <a
                href="https://www.upwork.com/freelancers/~0178a5f7f46c2367f5"><u><i>Upwork</i></u></a></p>
    </div>
    <div class="flex-row">
        <div class="box center-text">
            <p class="body-text">
                "I highly recommend Elijah for any web development, marketing operations, or marketing tech work that
                you
                may have. He has an excellent can-do attitude and is a keen problem-solver. He prioritises accuracy and
                quality in all of his work. I would definitely hire Elijah again."
            </p>
        </div>
        <div class="box center-text">
            <p class="body-text">"Absolutely worth your time and money. Extremely transparent and very timely
                communication.
                He delivered exactly what he committed to and even more. Would not have it any other way. Would highly
                recommend him and look forward to working with Elijah in another capacity in the future."</p>
        </div>
        <div class="box center-text">
            <p class="body-text">"Working with Elijah on this project was a pleasure. He was responsive to working with
                my
                customer's needs and did an excellent job developing a form that mirrored their needs and added in
                error-proofing so that any user mistakes would get caught before submitting. Highly recommend!"</p>
        </div>
        <div class="box center-text">
            <p class="body-text">"Simply put, Elijah is excellent in social media management and he has been a great
                asset
                to our business. He is deliberate with his planning tactics and implements them with great attention to
                every detail. For me, one of Elijah's most important skill is his ability to self manage and keep our
                projects moving forward no matter my availability or the lack thereof. No worries once you have agreed
                on a
                gameplan and a course of action - Elijah is on it, and very capably so. Definitely highly recommended
                and we
                have already hired him to continue the project with us."</p>
        </div>
        <div class="box center-text">
            <p class="body-text">"I enjoyed working with Elijah over these last couple months as he was very
                knowledgeable
                both on the technical service side as well as with social media marketing. His Facebook campaign methods
                cut
                my advertising costs by over half and allowed me to reach many more people. He also adapted well as we
                pivoted the business model part way through and began pursuing more technical software development
                opportunities. I would highly recommend Elijah and will utilize his skills again!"</p>
        </div>
        <div class="box center-text">
            <p class="body-text">"Elijah has been a most trusted and effective consultant for my social media needs. He
                is
                prompt, organized, communicative and very knowledgeable in every aspect of social media marketing. The
                results he achieved were beyond what I expected and I strongly recommend him to the Upwork community."
            </p>
        </div>
        <div class="box center-text">
            <p class="body-text">"I've worked with Elijah on this and many projects in the past and he's always good to
                work
                with. I had to stop this contract short but not due to any issues on Elijah's part. Overall Elijah is a
                pleasure to work with, with sensible ideas for improving on projects, and an eagerness to get things
                done.
                Highly recommend!"</p>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}